<div class='overflow-x-auto relative shadow-md sm:rounded-lg'>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                    Title
                </th>
                <th scope="col" class="py-3 px-6">
                    ISBN
                </th>
                <th scope="col" class="py-3 px-6">
                    PageCount
                </th>
            </tr>
            {{#each booksResult}}
            {{#if this.pageCount}}
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <td class="py-4 px-6">
                    {{this.title}}
                </td>
                <td class="py-4 px-6">
                    {{this.isbn}}
                </td>
                <td class="py-4 px-6">
                    {{this.pageCount}}
                </td>
            </tr>
            {{else}}
            <tr class="bg-red-300">
                <td class="py-4 px-6">
                    {{this.title}}
                </td>
                <td class="py-4 px-6">
                    {{this.isbn}}
                </td>
                <td class="py-4 px-6">
                    <b>{{convertToTextZero this.pageCount}}</b>
                </td>
            </tr>
            {{/if}}

            {{/each}}
    </table>
</div>